<!-- <!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Chi MEAN</title>

    <link rel="stylesheet" href="vendors/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="styles/style.css" />

    <script type="text/javascript" src="vendors/angular/angular.min.js"></script>
    <script type="text/javascript" src="scripts/client.min.js"></script>

  </head>
  <body>
    <div ng-controller="FormController">
      <h2>Enter a movie:</h2>
      <form>
        <input type="text" ng-model="movies.movieData.title" placeholder="Title"></input>
        <input type="text" ng-model="movies.movieData.desc" placeholder="Description"></input>
        <input type="text" ng-model="movies.movieData.dir" placeholder="Director"></input>
        <input type="number" ng-model="movies.movieData.time" placeholder="Runtime"></input>
        <input type="submit" ng-click="movies.createMovie()" value="Submit"></input>
      </form>
    </div>
    <div ng-controller="DisplayController">
      <div ng-repeat="movie in movies.movieArray">
        <p><b>Title:</b> {{movie.title}}</p>
        <p><b>Description:</b> {{movie.desc}}</p>
        <p><b>Director:</b> {{movie.dir}}</p>
        <p><b>Runtime:</b> {{movie.time}}</p>
      </div>
    </div>
  </body>
</html> -->
